*{
    margin:0 auto;
    padding:0 auto;
}

.name1{
   margin-left: -200px;
}
#cv-form {
    background-color: rgb(245, 158, 226);
   
  }
  .myimg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  